.temperature-chart{
    width: 1200px;
    height: 500px;
    
}
.temperature-chart{
    display: flex;
    flex-direction: row;
    position: relative;
}

.temperature-chart .chart{
    width: 800px;
    height: 500px;
    
}

.temperature-chart .table{
    position: absolute;
    top: 72px;
    right: 0;
    width: 200px;
    height: 496px;
    
}

.table{
    display: flex;
    gap: 100px;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
}

.table .table-item h3{
    color: rgb(0, 145, 255);
}

.table .table-item:nth-child(1) p{
    margin-top: 50px;
    text-align: center;
    color : rgb(10,255,129);
    font-weight: bold;
    font-size: 40px;
}

.table .table-item:nth-child(2) p{
    margin-top: 50px;
    text-align: center;
    color: rgb(179,9,9);
    font-weight: bold;
    font-size: 40px;
}

.temperature-chart .chart h4{
    text-align: center; 
}