.dashboard{
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 100%;
}

.title{
    color:rgb(0, 145, 255)  ;
}

.chart{
    position: absolute;
    top:10vh;
    display: flex;
    flex-direction: column;
}