.menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 94vh;
    gap: 2.3em;
    
}

.line{
    background-color: white;
    height: 2px;
}

.menu .logo{
    padding: 20px;
    font-size: 2.3em;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}

.menu-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-list .menu-item{
    font-size: 1em;
    text-decoration: none;
    color: white;
    font-weight:bold;
    padding: 10px;
    transform: 0.3s ease-in-out;
}

.menu-list .menu-item p{
    margin-left: 20px;
}


.menu-list .menu-item:hover{
    background-color: white;
    color: black;
}